<!-- Start Cart  -->
<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><No</th>
                                <th>date</th>
                                <th>Address</th>
                                <th>Price</th>
                                <th>paymentMethod</th>
                                <th>status</th>
                                <th>options</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>
                                <td class="price-pr"><span class="create_index"></span></td>
                                <td class="thumbnail-img">
                                    {{this.date}}
                                </td>
                                <td class="price-pr">
                                    {{this.deliverydetails.name}}<br>
                                    {{this.deliverydetails.number}}<br>
                                    {{this.deliverydetails.email}}<br>
                                    {{this.deliverydetails.address}}<br>
                                    {{this.deliverydetails.city}}<br>
                                    {{this.deliverydetails.state}}<br>
                                    {{this.deliverydetails.pinCode}}<br>
                                </td>
                                <td class="price-pr">
                                    <p>{{this.totalAmount}}</p>
                                </td>
                                <td class="price-pr">
                                    <p>{{this.paymentMethod}}</p>
                                </td>
                                <td class="total-pr">
                                    <p> {{this.status}}</p>
                                </td>
                                <td class="remove-pr">
                                    <a href="/view-orderedProducts/{{this._id}}" class="btn btn-success">View
                                        products</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <nav aria-label="...">
                            <ul class="pagination mt-4">
                                <li class="page-item disabled">
                                    <a class="page-link">Prev</a>
                                </li>
                                {{#for 1 pages 1}}
                                <li class="page-item{{#ifCond this ../currentPage}} active {{/ifCond}}">
                                    <a class="page-link " href="/admin/orders?page={{this}}">{{this}}</a>
                                </li>
                                {{/for}}
                        
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                </div>
            </div>
        </div>

        <script>
                var divs = document.querySelectorAll('.create_index');
                for (var i = 0; i < divs.length; ++i) {
                    divs[i].innerHTML = i + 1;
                }
            </script>